h1.h1 {
  margin-left: 16%;
  margin-right: 49px;

}
il {
  margin-left: 16px;
}
.for {
  display: flex;
}
ul {
  margin-top: 28px;
  margin-right: 24px;
  display: flex;
}
button.tims {
  box-sizing: border-box;
  border: none;
  border-radius: 160px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: initial;
  letter-spacing: 0.25px;
  position: relative;
  background-color: rgb(10, 101, 252);
  transition: all 0.1s ease-in-out 0s;
  margin-top: 19px;
}
a.hsss {
  color: white;
}
button.tarss {
  box-sizing: border-box;
  border: none;
  border-radius: 160px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: initial;
  letter-spacing: 0.25px;
  position: relative;
  background-color: rgb(10, 101, 252);
  transition: all 0.1s ease-in-out 0s;
  margin-top: 19px;
}
svg.HomePageHero__StyledGetMoreDoneSvg-sc-6e514h-10.khIfVN {
  width: 150%;
  margin-top: 10%;
  margin-bottom: 43px;
}
.rom_2 {
  background: rgb(249, 243, 239);
  border-radius: 34px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  /* background-color: rgb(249, 243, 239); */
  border-radius: 16px;
  margin: 8px;
  padding: 25px;
  padding-left: 12%;
}
.HomePageHero__AnimationWrapper-sc-6e514h-3.ixejQZ {
  width: 60%;
  margin-left: 30%;
}
ul.ull {
  margin-left: -26%;
}
button.d-inline.p-2.bg-primary.text-white {
  border-radius: 160px;
  margin-right: 27px;
  margin-left: -13%;
}
button.d-inline.p-2.bg-dark.text-white {
  border-radius: 160px;
  margin-right: 27px;
  margin-left: 2%;
}
h5 {
  margin-left: -12%;
  margin-bottom: 23px;
  margin-right: -30px;
}
.rom {
  padding-left: 29px;
  padding-right: 22px;
  margin-top: 25px;
}
.row_2 {
  display: flex;
  margin-inline: auto;
  padding-left: 13%;

}
span.PostTaskSteps__Number-sc-sa16o-2.jyDtIF {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 18px;
  flex-shrink: 0;
  background-color: rgb(206, 224, 254);
  color: rgb(10, 101, 252);
  border-radius: 50%;
  height: 28px;
  width: 28px;
}
il.iil {
  display: flex;
  padding-bottom: 9px;
}
p {
  padding-left: 15px;
}
p.pp {
  padding-left: 1%;
}
.tl1 {
  margin-right: 10%;
  margin-left: -9%;
  padding-top: 6%;
}
ol {
  margin-left: -14%;
}
.row {
  margin-top: 10%;
}

img {
  border-radius: 8px;

}
.aeo {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: -1%;
}
.fro {
  border-radius: 15px;
  display: flex;
  background: white;
  padding-top: 11px;
  padding-left: 7%;
  margin-right: 13%;
  margin-bottom: 7%;
}

.tl2 {
  display: flex;
  border-radius: 12px;
  background: rgb(231, 240, 255);
  padding-left: 34px;
  padding-top: 24px;
  padding-right: 13px;
  padding-bottom: 0px;

}
p.axjdj {
  margin-top: -7%;
  font-size: 83%;
}
/*
.fro {
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
@keyframes example {
  from {top: 0px; background-color: white ;}
  to {top: 200px; background-color: white;}
}
*/
h1.column-11 {
  font-size: 66px;
  line-height: 81px;
  letter-spacing: -5.25px;
}
h5.agg {
  padding-top: 38px;
  padding-left: 43%;
}
a.rty {
  color: black;
}
