p.Text__StyledTypographyComponent-sc-35e02v-0.gOGerw.HomePageHero__Heading-sc-6e514h-7.deoFju {
  font-size: 43px;
  line-height: 54px;
  letter-spacing: 5.23px;
  color: white;
  font-weight: 750;
}
p.ppp {
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  font-weight: initial;
  line-height: 32px;
  letter-spacing: -0.15px;
  color: white;
  margin-bottom: 15%;
}
.HomePageHero__Wrapper-sc-6e514h-0.bgHtYF {
  background: rgb(6, 18, 87);
}
p.p_fsfg {
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 26px;
  font-weight: initial;
  line-height: 32px;
  letter-spacing: -0.15px;
  padding-right: 43px;
}
h3.h3_oan {
  font-family: pp-formula-airtasker, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.25px;
  text-transform: none;
}
.PostTaskStepsSection__RightSection-sc-doc741-12.ejWAps {
  padding-top: 15%;
}
a.Link__Anchor-sc-1xsb1mu-0.ivVqDI.Link__UnstyledInlineLink-sc-1xsb1mu-2.LinkButton__StyledLinkButton-sc-5ftxev-0.kVURKP.HomePageHero__StyledButton-sc-6e514h-8.MtDzg {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-radius: 160px;
  color: rgb(10, 101, 252);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: manrope-bold,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
  font-size: 16px;
  font-weight: initial;
  line-height: 24px;
  -webkit-letter-spacing: 0.15px;
  -moz-letter-spacing: 0.15px;
  -ms-letter-spacing: 0.15px;
  letter-spacing: 0.15px;
  background-color: rgb(243, 247, 255);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.\33 md {
  display: flex;
}
p.pjon {
  padding-inline: 19%;
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 26px;
  font-weight: initial;
  line-height: 38px;
  letter-spacing: -0.15px;
}
h3.ttc {
  font-family: pp-formula-airtasker, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.25px;
  text-transform: none;
  padding-left: 19%;
}
.\31 lkl {
  padding-top: 12%;
}
.kfIKSa {
  display: flex;
  flex-flow: row wrap;
  gap: 32px 16px;
}
.fresnel-container {
    margin: 0;
    padding: 0;
  }
.bApPUN {
  -webkit-box-flex: 0;
  flex: 0 1 0%;
}
.fWOjzC {
  border-radius: 24px;
  height: 312px;
  width: 284px;
}

.elizhW {
  padding-left: 16px;
  font-family: manrope-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  font-weight: initial;
  line-height: 32px;
  letter-spacing: -0.15px;
}
.sddf {
  background-color: rgb(255, 255, 255);
  padding-left: 8%;
}
.hjyk {
  padding: 129px 64px;
}

.ffnfxG {
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  column-gap: 96px;
  padding: 160px 64px;
}
.cAuVGl {
  max-width: 553px;
  min-width: 200px;
}
.cAuVGl {
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
}
.kUGzDZ {
  display: flex;
  flex-direction: column;
}
.YDtsh {
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  font-weight: initial;
  line-height: 32px;
  letter-spacing: -0.15px;
  margin-top: 32px;

}
.bwYirb {
  color: rgb(6, 18, 87);
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: initial;
  line-height: 24px;
  letter-spacing: 0.15px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-decoration: initial;
  text-align: initial;
  vertical-align: initial;
  font-style: initial;
  white-space: initial;
  margin: 0px;
  padding: 0px;
}
.kWTzSt {
  margin-top: 48px;
}

 .kASZQN {
   display: inline-block;
   text-align: center;
   white-space: nowrap;
   cursor: pointer;
   box-sizing: border-box;
   margin: 0px;
   border: none;
   border-radius: 160px;
   padding: 16px 24px;
   font-family: manrope-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 16px;
   font-weight: initial;
   line-height: 24px;
   letter-spacing: 0.15px;
   background-color: rgb(243, 247, 255);
   color: rgb(10, 101, 252);
   transition: all 0.1s ease-in-out 0s;
 }
.boNwBx {
  flex: 1 1 0%;
  margin-top: 48px;
}
.kElvBi {
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 64px;
}
 .kElvBi {
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
 }
.kElvBi > * {
  flex: 1 1 210px;
}
 .kyQwfs {
   position: relative;
 }
.gyPrgd {
  width: 230px;
}

 .gyPrgd {
   display: flex;
   width: 100%;
   padding-top: 24px;
   padding-bottom: 24px;
   flex-direction: row;
 }
.gyPrgd {
  width: 230px;
}

 .gyPrgd {
   display: flex;
   width: 100%;
   padding-top: 24px;
   padding-bottom: 24px;
   flex-direction: row;
 }
.gyPrgd svg {
  margin-right: 12px;
}

.gyPrgd svg {
  min-height: 24px;
  min-width: 24px;
}

 .gyPrgd svg {
   min-width: 21px;
   min-height: 21px;
   fill: rgb(6, 18, 87);
 }
.gyPrgd svg {
  min-width: 21px;
  min-height: 21px;
  fill: rgb(6, 18, 87);
}

.jTtGUx {
  display: flex;
  flex-direction: column;
}
.gmnmTL {
  font-family: manrope-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  font-weight: initial;
  line-height: 28px;
  letter-spacing: 0.15px;
}

 .gmnmTL {
   color: rgb(6, 18, 87);
   font-family: manrope-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 18px;
   font-weight: initial;
   line-height: 24px;
   letter-spacing: 0.15px;
 }
.ilaaQQ {
  color: rgb(6, 18, 87);
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: initial;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-top: 8px;
  margin-bottom: 8px;
}
h3.h3ghn {
  font-family: pp-formula-airtasker, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 43px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.75px;
  margin-right: 45%;
  text-transform: none;
}
h3.dsds {
  margin-right: 30%;
}
.eTbfmC {
  padding: 160px 64px;
  flex-direction: row;
}


 .eTbfmC {
   -webkit-box-align: center;
   align-items: center;
   column-gap: 120px;
   border-radius: 24px;
   padding: 32px 16px;
   background-color: rgb(6, 18, 87);
 }

 .kUGzDZ {
   display: flex;

 }
.bmwzqb {
  flex: 1 1 0%;
  position: relative;
  height: 100%;
  line-height: 0;
}

 .fgQfwB {
   display: flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
 }
.hrZfmD {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.jvqSmn {
  flex: 1 1 0%;
  padding: 0px;
}
.gBprAz {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.bxNGsz {
  margin-top: 48px;
}

 .bxNGsz {
   width: fit-content;
   margin-top: 32px;
 }

 .kASZQN {
   display: inline-block;
   text-align: center;
   white-space: nowrap;
   cursor: pointer;
   box-sizing: border-box;
   margin: 0px;
   border: none;
   border-radius: 160px;
   padding: 16px 24px;
   font-family: manrope-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 16px;
   font-weight: initial;
   line-height: 24px;
   letter-spacing: 0.15px;
   background-color: rgb(243, 247, 255);
   color: rgb(10, 101, 252);
   transition: all 0.1s ease-in-out 0s;
 }
.cUJYwA {
  color: rgb(255, 255, 255);
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: initial;
  line-height: 24px;
  letter-spacing: 0.15px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: initial;
  vertical-align: initial;
  font-style: initial;
  white-space-collapse: initial;
  text-wrap: initial;
  text-decoration: initial;
  margin: 0px;
  padding: 0px;
}



ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.gKUNpc {
  list-style-type: none;
  display: flex;
  column-gap: 16px;
  padding-bottom: 12px;
  color: rgb(255, 255, 255);
}
.gKUNpc svg {
  fill: currentcolor;
}
.jCHqCZ > :last-child {
  margin-bottom: 32px;
}

.hzyljF {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 128px 32px;
}

 .hzyljF {
   border-radius: 24px;
   display: flex;
   padding: 235px 24px;
   background-color: rgb(249, 243, 239);
 }
.dLSkQb {
  min-width: 425px;
  min-height: 519px;
  max-width: 540px;
  max-height: 630px;
  margin-bottom: 0px;
  margin-right: 64px;
}
.ckrFBi {
  max-width: 584px;
  display: flex;
  flex-direction: column;
}
.khApOZ {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.25px;
}
.iNXCUH {
  margin-top: 24px;
}
.hkqffF {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.hkqffF svg {
  fill: rgb(10, 101, 252);
  margin-top: 4px;
  margin-right: 12px;
  min-height: 26px;
  min-width: 26px;
}

.fIPQhD {
  font-family: manrope-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  font-weight: initial;
  line-height: 32px;
  letter-spacing: -0.15px;
}
.bwYirb {
  color: rgb(6, 18, 87);
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: initial;
  line-height: 24px;
  letter-spacing: 0.15px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-decoration: initial;
  text-align: initial;
  vertical-align: initial;
  font-style: initial;
  white-space: initial;
  margin: 0px;
  padding: 0px;
}

.jQJAPW {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
}
dPxTAc {
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: initial;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgb(155, 160, 188);
  margin-top: 32px;
}
.eazTcy {
  margin-right: 8px;
}
.dHiWxG {
  min-width: 183px;
}
.kEchsZ {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0px;
  border: none;
  border-radius: 160px;
  color: rgb(255, 255, 255);
  padding: 16px 24px;
  font-family: manrope-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: initial;
  line-height: 24px;
  letter-spacing: 0.15px;
  background-color: rgb(6, 18, 87);
  transition: all 0.1s ease-in-out 0s;
}
.dPxTAc {
  font-family: manrope-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: initial;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgb(155, 160, 188);
  margin-top: 32px;
}
.styles__StylesWrapper-sc-1khtu7t-0.kzpDWJ {
  margin-bottom: 51px;
  margin-top: 60px;
}
